/* Ini CSS External */

    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .Logo-Company {
        height: 50px;
        width: 50px;
        background-image: url(https://picsum.photos/600);
        background-size: cover;
        border-radius: 50%;
    }

    .nav {
        display: flex
    }
    
    nav > a {
        border: 1px solid;
        color: black;
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
    }

    .no-border-radius{
        border-radius: 0px ;
        width: 113.69px;
        text-align: center;
    }

    .no-border-radius-right {
        border-top-left-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 4px;
        width: 113.69px;
        text-align: center;
    }

    .no-border-radius-left   {
        border-top-left-radius: 0px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 0px;
        width: 113.69px;
        text-align: center;
    }

    .hr {
        width: 100%;
        margin: 0;
        border: 1px solid lightgray;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    main>header{
        text-align: center
    }

    .main-content {
        display: flex;
        gap: 24px;
    }

    .main-container {
        height: 400px;
        flex: 1;
        align-content: center;
        text-align: center;
    }

    .main-banner {
        height: 300px;
        background-image: url(https://picsum.photos/600);
        background-size: cover;
        background-position: center;
    }

    .banner-img-1 {
        background-image: url(https://picsum.photos/600);
    }

    .banner-img-2 {
        background-image: url(https://picsum.photos/625);
    }

    .banner-img-3 {
        background-image: url(https://picsum.photos/650);
    }

    .banner-img-4 {
        background-image: url(https://picsum.photos/675);
    }

    #our-package-section>header {
        height: 100px;
        align-content: center;
        text-align: center;
        background-color: aliceblue;
    }

    .our-package-content {
        border: 1px solid;
        height: 300px;
        align-content: center;
        text-align: center;
    }

    #call-us-section>header {
        height: 100px;
        align-content: center;
        text-align: center;
        background-color: antiquewhite;
    }

    .call-us-content {
        border: 1px solid;
        height: 300px;
        align-content: center;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    /* Responsive Design */
    @media only screen and (max-width: 480px) {
        .main-content {
            flex-direction: column;
            width: 100%;
        }
        .main-header {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
        }

        .Logo-Company {
            margin-bottom: 14px;
        }

        .nav {
            flex-direction: column;
        }
    }